* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

body {
  background-color: #28587B;
  margin: 0;
  padding: 0;
}  

header {
  background-color: #F15946;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 1%;
  width: 98%;
}

#question {
  font-size: 1.4em;
}

h2 {
  font-size: 1.7em;
  margin: 3% 0;
}

button {
  padding: .3% .5%;
  margin: .3%;
}

#viewHigh {
  padding: .3% .5%;
  margin: 0%;
  display: inherit;
}

.container {
  background-color: bisque;
  display: flex;
  flex-flow: column nowrap;
  margin: 9% auto;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,1);
  transition: 0.3s;
  width: 75%;
}

#scoreList {
  list-style-type: none;
}

.hidden {
  display: none;
}

.controls {
  display: flex;
  justify-content: center;
  padding: 1%;
  margin: 1%;
}

label {
  font-size: 1.2em;
  margin-right: 2%;
}